<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>MAJDOOR</h1>
        <div class="profile">
            <a href="/customerdetails"><i class="fas fa-user-alt"></i></a>
            <i class="fa fa-sign-out" aria-hidden="true"></i>
        </div>

    </header>
</body>
</html>