body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1E1E1E;
    color: #fff;
    font-family: Elephant;
    padding: 10px;
    text-align: center;
}

header .profile {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 35px;
    right: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.customer_name{
    font-family: cursive;
    font-size: 24px;
}

.main {
    max-width: 1200px;
    margin: 100px auto 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-form {
    margin-top: 30px;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
}

.search-form input {
    padding: 10px;
    flex: 1;
    margin-right: 10px;
}

.searchform_input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search_button{
    display: flex;
    justify-content: space-around;
}
.search-form button {
    align-items: center;
    margin: 10px;
    padding: 10px 20px;
    background-color: #343A40;
    color: #fff;
    border: none;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
}

.section-title{
    padding: 8px;;
}
.recommended-services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.activity-services {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}


.service-card {
    height: fit-content;
    width: 150px;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.service-card h2 {
    color: #333;
}

.service-card p {
    margin: 10px 0;
    color: #666;
}

.service-card img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.service-card button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}


/* Foter css */

.btn {
    display: inline-block;
    border-radius:1cm;
    margin-top: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;
    background: #fff;
    font-size: 1.7rem;
    text-transform: capitalize;
    color: #334;
    border: 0.2rem solid #334;
  }
  
  .btn:hover {
    background: #2597f4;
    border-color: #2597f4;
    color: #fff;
    
  }

.footer {
    background: #f5f5f5;
  
  }
  
  .footer .box-container {
    
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 2.2rem;
    text-transform: capitalize;
    color: #334;
    padding: 1rem 0;
  }
  
  .footer .box-container .box .link {
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
  }
  
  .footer .box-container .box .link i {
    
    
    padding-right: .5rem;
    color: #2597f4;
  }
  
  .footer .box-container .box .link:hover {
    color: #2597f4;
  }
  
  .footer .box-container .box .link:hover i {
    padding-right: 2rem;
  }
  
  .footer .box-container .box p {
    padding: .1rem 0;
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
  }
  
  .footer .box-container .box p span {
    color: #2597f4;
  }
  
  .footer .box-container .box .email {
    width: 80%;
    border: 0.2rem solid #334;
    padding: 1.6rem 1.4rem;
    font-size: 1.6rem;
    color: #777;
    margin: 1rem 0;
  }
  
  .footer .box-container .box .share {
    margin-top: 2rem;
  }
  
  .footer .box-container .box .share a {
    text-decoration:none;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    background: #334;
    color: #fff;
    margin-right: .3rem;
    text-align: center;
    border-radius: 5rem;

  }
  
  .footer .box-container .box .share a:hover {
    background: #2597f4;
  }
  
  .footer .credit {
    font-size: 2rem;
    text-transform: capitalize;
    color: #334;
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 0.2rem solid #334;
    text-align: center;
  }
  
  .footer .credit span {
    color: #2597f4;
  }
  
  
  
  
  