@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
   

#feedback-page{
  text-align:center;
}

#form-main{
  width:100%;
  float:left;
  padding-top:0px;
}

#form-div {
  background-color:rgba(72,72,72,0.4);
  padding-left:35px;
  padding-right:35px;
  padding-top:35px;
  padding-bottom:50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top:30px;
  margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

#form-div .sign{
  text-align: center;
  color:#fff;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.feedback-input,select{
  color:#3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 25px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
  background: #fff;
  box-shadow: 0;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 25px;
}

.focused{
  color:#30aed6;
  border:#30aed6 solid 3px;
}

.message{
  color:red;
  text-align:center;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

/* Icons ---------------------------------- */
#name{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#name:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#comment{
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}

#button-blue{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float:left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  background-color: #3498db;
  color:white;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:15px;
  font-weight:700;
}

#button-blue:hover{
  background-color: rgba(0,0,0,0);
  color: #0493bd;
}
  
.submit:hover {
  color: #3498db;
}
  
.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

p.for{
  margin:15px 0px;
  padding: 10px;
}

p.for a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #000;
}

p.cre {
  text-align: center;
}

p.al {
  margin: 35px 0px;
  text-align: center;
  color: #fff;
}

p.al a button {
  color: #fff;
  padding: 10px 20px;
  width: 90%;
}

p.al a:hover>button {
  color: #fff;
}

@media only screen and (max-width: 580px) {
  #form-div{
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}

/* Fontawesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    align-items: stretch;
}

.left-section {
    background: url('https://img.freepik.com/premium-vector/man-freelancer-sits-table-cafe-working-laptop-remote-worker-drinking-beverage-coworking-space-workplace-cafeteria-restaurant_575670-1291.jpg?size=626&ext=jpg&ga=GA1.1.1546980028.1702771200&semt=ais') no-repeat center center;
    display: none;
}

.right-section {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgb(10 75 90);
    width: 100%;
    max-width: 450px;
}

.login-form h2 {
    color: #ffb144;
    text-align: center;
    margin-bottom: 35px;
}

.login-title i {
    margin-right: 10px;
    color: #027186;
}

.form-control {
    position: relative;
    margin-bottom: 30px;
}

.form-control i {
    position: absolute;
    left: 15px;
    top: 14px;
    color: #32495e;
}

.form-control input {
    width: 100%;
    max-width: 95%;
    padding: 12px 0 12px 37px;
    border: 2px solid #00569f1c;
    background-color: rgb(232, 232, 232);
    color: rgb(50, 73, 94);
    border-radius: 6px;
    transition: all 0.3s ease-in-out 0s;
}

.form-control input:focus {
    outline: none;
    border: 2px solid #ffd8a1;
}

.form-control input:invalid:not(:focus):not(:placeholder-shown) {
    border: 2px solid #ff3860;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me .checkbox-custom {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    border: 2px solid #027186;
    border-radius: 3px;
    cursor: pointer;
    background-color: #f7f7f7;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: #f7f7f7;
    transition: background-color 0.3s, border-color 0.3s;
    pointer-events: none;
}

.remember-me .checkbox-custom::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 1px;
    width: 6px;
    height: 11px;
    border: solid #027186;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    border: solid white;
    border-width: 0 2px 2px 0;
    display: none;
}

.remember-me label {
    color: #333;
    font-size: 0.95em;
    cursor: pointer;
}

.remember-me input[type="checkbox"] {
    display: none;
}

.remember-me input[type="checkbox"]:checked+.checkbox-custom::after {
    display: block;
}

.remember-me input[type="checkbox"]:checked+.checkbox-custom {
    background-color: #027186;
    border-color: #027186;
}
button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 12px;
    background-color: #ffaa33;
    color: white;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: #405d7d;
}

/*Responsive*/
@media screen and (min-width: 768px) {
    .left-section {
        display: block;
        /* Show the left section on larger screens */
        flex: 1;
    }
}

