@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

body {
    font-family: 'Mooli', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.back {
    transform: rotateY(180deg);
}

/* #flipped {
    transform: rotateY(180deg);
} */

.customer-form {
    position: fixed;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
}

.main .customer-form{
    visibility:visible;
    opacity:1;
}