<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/mstyle.css">
</head>

<body>
    <div id="form-main">
        <div id="form-div">
            <h2 class="sign">Sign Up</h2>
            <form class="form" id="form1" method="post">
                <p class="name">
                    <input name="us" type="text"
                        class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Name"
                        id="name" />
                </p>
                <p class="email">
                    <input name="mn" type="tel" class="validate[required,custom[email]] feedback-input" id="email"
                        placeholder="Contact" />
                </p>
                
                <select name="skills" id="" value="skills">
                    <option value="cp">Select Your Skills</option>
                    <option value="painter">Painter</option>
                    <option value="mason">mason</option>
                    <option value="labour">labour</option>
                    <option value="electrician">electrician</option>
                </select>
               
                <select name="location" id="">
                    <option value="d">Select Your Location</option>
                    <option value="bihar">bihar</option>
                    <option value="mumbai">Mumbai</option>
                    <option value="kolkata">Kolkata</option>
                    <option value="Delhi">Delhi</option>
                </select>
                <div class="submit">
                    <input type="submit" value="Register" id="button-blue" />
                    <div class="ease"></div>
                </div>
            </form>
            
            <p class="message">
                <%if(message){%>
                    <%=message%>
                        <%}%>
            </p>
            
            
            <p>Already have an account? <a href="/majdoor/mlogin">Login</a></p>
        </div>

</body>

</html>